# Ignore GitHub-related items
.github/

# Ignore TS-related items
src
tsconfig.json

# Ignore test-related items
tests

# Ignore config-related items
.eslintrc
babel.config.js
jest.config.js

# Ignore Storybook-related items
.storybook/
*.stories.tsx